@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero Section -->
<div class="hero-container">
    <div class="hero-content">
        <h2 class="hero-heading">Välkommen till vår butik</h2>

        <div class="hero-text">
            <p>Upptäck vårt fantastiska sortiment av produkter</p>
        </div>

        <div class="hero-buttons">
            <a href="/Product/Index" class="hero-button">Produktlista</a>
        </div>

    </div>
</div>

<div class="container">
    <div class="news">
        <h2>Nyheter</h2>
        <p>Upptäck vårt fantastiska sortiment av produkter</p>

        <div class="news-items">
            <div class="news-item">
                    <!-- Bilder från wwwroot -->
                    <img src="~/images/applebrownband.jpg" alt="Ny produkt 1" width="200">
                <a href="/Product/Index" class="product-button">Produktlista</a>
            </div>

            <div class="news-item">
                <!-- Bilder från wwwroot -->
                <img src="~/images/multichargeblack.jpg" alt="Ny produkt 2" width="200">
                <a href="/Product/Index" class="product-button">Produktlista</a>
            </div>

            <div class="news-item">
                <!-- Bilder från wwwroot -->            
                <img src="~/images/powerbankblack.jpg" alt="Ny produkt 3" width="200">
                <a href="/Product/Index" class="product-button">Produktlista</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="faq-section">
        <h2>Vanliga frågor</h2>

        <div class="faq-item">
            <h3>Hur gör jag en beställning?</h3>
            <p>För att göra en beställning, välj de produkter du vill köpa och lägg dem i din kundvagn. När du är klar, gå till kassan och följ instruktionerna för att slutföra din beställning.</p>
        </div>

        <div class="faq-item">
            <h3>Erbjuder ni gratis frakt?</h3>
            <p>Ja, vi erbjuder gratis frakt på beställningar över 500 SEK inom Sverige.</p>
        </div>

        <div class="faq-item">
            <h3>Vilka betalningsmetoder accepterar ni?</h3>
            <p>Vi accepterar betalning via kreditkort, PayPal och faktura.</p>
        </div>

        <div class="faq-item">
            <h3>Kan jag returnera en produkt?</h3>
            <p>Ja, vi erbjuder en 14-dagars returpolicy. Kontakta oss för att få instruktioner om hur du returnerar en vara.</p>
        </div>

        <div class="faq-item">
            <h3>Hur kontaktar jag kundtjänst?</h3>
            <p>Du kan nå vår kundtjänst via e-post på support@dinbutik.se eller genom att använda vårt kontaktformulär på sidan Kontakt.</p>
        </div>
    </div>
</div>


