@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- Hero Section -->
<div class="hero-container">
    <!-- Adjust background as needed -->
    <div class="hero-content">
        <h2 class="hero-heading">Välkommen till vår butik</h2>

        <div class="hero-text">
            <p>Upptäck vårt fantastiska sortiment av produkter</p>
        </div>

        <div class="hero-buttons">
            <a href="/Product/Index" class="hero-button">Produktlista</a>
        </div>

    </div>
</div>

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>
</div>
